.breadcrumb {
    background-color: #7a78788c;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .breadcrumb-item {
    font-size: 14px;
    color: #fcfcfc;
  }
  
  .breadcrumb-item a {
    color: #fcf9f9;
  }
  
  .breadcrumb-item.active {
    color: #fefbfb;
  }